.about-us {
  position: relative;

  padding-top: 134px;
  padding-bottom: 10px;

  @media (min-width: $laptop) {
    padding-top: 66px;
    padding-bottom: 64px;
  }
}

.about-us__wrapper {
  position: relative;
  z-index: 1;
  max-width: 295px;
  padding-top: 33px;
  padding-left: 35px;
  padding-right: 20px;
  padding-bottom: 32px;


  @media (min-width: $laptop) {
    padding-top: 23px;
    padding-right: 27px;
    padding-bottom: 30px;
    padding-left: 30px;
    max-width: 550px;
  }

  @media (min-width: $desktop) {
    padding-top: 47px;
    padding-right: 36px;
    padding-bottom: 44px;
    padding-left: 60px;

  }

  @include white-bck;
}

.about-us__bck-img {
  position: absolute;
  top: 0;
  right: 0;

  width: 90%;

  height: 100%;


  background-repeat: no-repeat;
  background-size: 100%;

  background-image: url("../images/bck/bck1-mobile.jpg");

  @media (min-width: $laptop) {
    height: 100%;
    background-size: cover;

    width: 73.6%;
    background-image: url("../images/bck/bck1.jpg");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../images/bck/bck1-mobile@2x.jpg");

    @media (min-width: $laptop) {
      background-image: url("../images/bck/bck1@2x.jpg");
    }
  }
}

.about-us__title {
  margin-bottom: 13px;

  @media (min-width: $laptop) {
    margin-bottom: 18px;
  }
}



.about-us__title__text {
  margin-bottom: 8px;

  @media (min-width: $laptop) {
    margin-bottom: 10px;
  }
}
