.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 610px;
    // outline: 2px solid yellowgreen;
  }

  @media (min-width: $laptop) {
    max-width: 930px;
    // outline: 2px solid rebeccapurple;
  }

  @media (min-width: $desktop) {
    max-width: 1250px;
    // outline: 2px solid teal;
  }
}
