.inteco-now {
  position: relative;



  @media (max-width: $tablet) {
    // overflow: hidden;
  }

  @media (min-width: $laptop) {
    padding-bottom: 0;
  }
}


.inteco-now__header {
  margin-bottom: 44px;

  padding: 0 35px;

  @media (min-width: $laptop) {
    margin-bottom: 54px;
    padding: 0 45px;
  }

  @media (min-width: $desktop) {
    padding: 0 60px;
  }
}

.inteco-now__wrapper {
  position: relative;


  @media (min-width: $laptop) {
    padding-top: 35px;
    padding-bottom: 33px;
  }


  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    top: -10px;
    left: 20px;
    background-color: $cream-dark;

    @media (min-width: $laptop) {
      left: 200px;
    }

    @media (min-width: $desktop) {
      left: 300px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 1px;
    top: -10px;
    left: 0;
    background-color: $cream-dark;
    @media (min-width: $tablet) {

      width: 200%;
      left: calc(20px - 200%);
    }

    @media (min-width: $laptop) {
      left: calc(200px - 200%);
    }
    @media (min-width: $desktop) {
      left: calc(300px - 200%);
    }
  }
}

.inteco-now__header-wrapper {
  display: flex;
}

.inteco-now__title {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}



.inteco-now__text {

  flex-basis: 50%;
  margin-right: 20px;

  @media (min-width: $laptop) {
    margin-right: 0;
    flex-basis: 55%;
    margin-right: 10px;
    padding-right: 20px;
  }

  @media (min-width: $desktop) {
    flex-basis: auto;
    padding-right: 60px;
    margin-right: 32px;
  }
}

.inteco-now__text-br--desktop {
  display: none;

  @media (min-width: $desktop) {
    display: inline;
  }
}

.inteco-now__description-list {

  display: flex;
  flex-basis: 50%;
  flex-direction: column;


  margin: 0;
  flex-grow: 1;
  padding-right: 31px;


  dt {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 4px;

    span:first-child {
      margin-bottom: 5px;
      display: block;
    }

    span:last-child {
      display: block;
      margin-bottom: 12px;
      font-size: 36px;
      list-style: 32px;
    }
  }

  dd {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  @media (min-width: $laptop) {

    flex-basis: auto;
    justify-content: space-between;
    padding-right: 0;

    dt {

      font-size: 16px;
      line-height: 24px;

      margin-bottom: 6px;

      span:first-child {
        margin-bottom: 7px;
        display: block;

      }

      span:last-child {
        font-size: 48px;
        list-style: 42px;
        margin-bottom: 0;
        display: inline;
      }
    }

    dd {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }
  }
}

.inteco-now__description-item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: $laptop) {
    margin-right: 10px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
  }
}

.inteco-now__list {
  @include white-bck;
  @include list-reset;
  padding-top: 25px;
  padding-left: 35px;
  padding-right: 34px;
  padding-bottom: 28px;
  position: relative;
  z-index: 1;
  margin: 0;
  max-width: 90%;


  @media (min-width: $laptop) {
    padding-top: 43px;
    padding-left: 44px;
    padding-right: 36px;
    padding-bottom: 52px;
    max-width: 470px;
  }

  @media (min-width: $desktop) {
    padding-top: 62px;
    padding-left: 60px;

    padding-bottom: 63px;
  }
}

.inteco-now__item:not(:last-child) {
  margin-bottom: 8px;

  @media (min-width: $laptop) {
    margin-bottom: 10px;
  }
}

.inteco-now__bck-img {
  background-image: url("../images/bck/bck2-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

height: 0;

  // position: absolute;

  width: 89%;
  // bottom: -89%;

  height: 100%;
  // right: 0;
  position: relative;
  margin-left: auto;
  bottom: 30px;
  // height: calc(280px + 5%);
  // height: 400px;
  padding-top: 54%;



  @media (min-width: 420px) {
    // bottom: -77%;
  }

  @media (min-width: $tablet) {
    width: 94%;
    // bottom: -70%;
  }

  @media (min-width: $laptop) {
    width: 73.5%;
    // height: 100%;
    padding-top: 0;
    position: absolute;
    right: 0;
    background-size: cover;
    top: 0;
    // right: 0;
    background-image: url("../images/bck/bck2.jpg");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../images/bck/bck2-mobile@2x.jpg");

    @media (min-width: $laptop) {
      background-image: url("../images/bck/bck2@2x.jpg");
    }
  }


}

