.page-main {
  min-width: 0;
  overflow: hidden;

  background-color: $cream;
}

.page-main__about-us {
  margin-bottom: 23px;

  @media (min-width: $laptop) {
    margin-bottom: 97px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;

    display: block;
    width: 1px;
    height: 200%;

    background-color: $cream-dark;


    @media (min-width: $laptop) {
      left: 200px;
    }

    @media (min-width: $desktop) {
      left: 300px;
    }
  }
}



.page-main__our-projects {
  margin-bottom: 37px;

  @media (min-width: $laptop) {
    margin-bottom: 42px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;

    display: block;
    width: 1px;
    height: 100%;

    background-color: $cream-dark;

    @media (min-width: $laptop) {
      left: 200px;
    }

    @media (min-width: $desktop) {
      left: 300px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;

    display: block;
    width: calc(100% - 20px);
    height: 1px;

    background-color: $cream-dark;

    @media (min-width: $tablet) {
      width: 200%;
    }

    @media (min-width: $laptop) {
      left: 200px;
    }

    @media (min-width: $desktop) {
      left: 300px;
    }
  }
}


.page-main__inteco-now {
  margin-bottom: 34px;

  @media (min-width: $laptop) {
    margin-bottom: 98px;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 20px;

    display: block;
    width: 1px;
    height: 50%;

    background-color: $cream-dark;


    @media (min-width: $laptop) {
      bottom: -60px;
      left: 200px;
    }

    @media (min-width: $desktop) {
      left: 300px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 20px;

    display: block;
    width: calc(100% - 20px);
    height: 1px;

    background-color: $cream-dark;

    @media (min-width: $tablet) {
      width: 200%;
    }

    @media (min-width: $laptop) {
      bottom: -60px;
      left: 200px;
    }


    @media (min-width: $desktop) {
      left: 300px;
    }
  }
}

.page-main__work-principles {
  position: relative;

  margin-bottom: 54px;
  overflow: hidden;

  @media (min-width: $laptop) {
    margin-bottom: 96px;
  }
}

.page-main__staff-offer {
  &::after {
    content: "";
    position: absolute;
    top: -20px;

    width: 20px;
    height: 1px;

    background-color: $cream-dark;

    @media (min-width: $tablet) {
      left: calc(20px - 200%);

      width: 200%;
    }


    @media (min-width: $laptop) {
      left: calc(200px - 200%);
    }

    @media (min-width: $desktop) {
      left: calc(300px - 200%);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;

    width: 1px;
    height: calc(20px + 100%);

    background-color: $cream-dark;


    @media (min-width: $laptop) {
      left: 200%;
    }

    @media (min-width: $desktop) {
      left: 300px;
    }
  }
}
