.pagination {
  align-items: center;
  display: flex;


  .swiper-pagination-bullet {
    background-color: $white;
    opacity: 1;
    width: 6px;
    height: 6px;
  }

  .swiper-pagination-bullet-active {
    // background-color: $white;
    // opacity: 1;
    width: 10px;
    height: 10px;
  }

  @media (min-width: $laptop) {
    display: none;
  }
}
