.slider-button {
  width: 20px;
  height: 18px;

  background-image: url("../images/arrows.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
  cursor: pointer;
  @media (min-resolution: 2dppx) {
    background-image: url("../images/arrows@2x.png");
  }
}
