.staff-offer {
  position: relative;
  display: flex;
  flex-direction: column;


  @media (min-width: $laptop) {
    padding: 0;
  }

}

.staff-offer__title {
  padding: 0 45px;
margin-bottom: 26px;


  @media (min-width: $laptop) {
    text-align: center;
    margin-right: -80px;
  }
}

.title {}

.staff-offer__slider {
  position: relative;
  padding-bottom: 60px;
  padding-top: 161px;

  .pagination {
    align-items: center;
    display: flex;
    justify-content: center;

    top: calc(330px - 110%);
    @media (min-width: 440px) {
      padding-left: 10px;
      justify-content: flex-start;
      top: auto;
    }

    @media (min-width: $tablet) {
      top: auto;
      bottom: 70px;
      justify-content: center;
    }
  }
  .swiper {
    position: absolute;
    left: 0;
    top: 0;

    width: 89%
  }

  @media (min-width: $tablet) {
    padding-top: calc(700px - 60%);
  }
  @media (min-width: $laptop) {
    padding-top: 75px;

    .swiper {
      top: 75px;
      height: 100%
    }
  }
}

.staff-offer__list {
  @include list-reset;
  position: relative;
  z-index: 1;
  max-width: 295px;
  @include white-bck;
  padding-top: 31px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 32px;

  margin-left: auto;

  z-index: 2;
  @media (min-width: $tablet) {
    max-width: 90%;
  }

  @media (min-width: $laptop) {
    margin-left: auto;
    top: -50px;
    max-width: 470px;
    padding-right: 60px;
    padding-top: 44px;
    padding-left: 50px;
    padding-bottom: 60px;
  }

}

.staff-offer__item:not(:last-child) {

  margin-bottom: 8px;

  @media (min-width: $laptop) {
    margin-bottom: 10px;
  }
}



.staff-offer__slider-button {

  display: none;

  @media (min-width: $laptop) {
    display: flex;
    bottom: 170px;
    left: 60px;

    position: absolute;

  }
}
