 @-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@keyframes button-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}
.blob.white {
  background: white;

  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes circletimer {
  0% {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
  }
  50% {
  }
  100% {
    stroke-dasharray: 240;
    stroke-dashoffset: 0;
  }
}
