// width
$tablet: 700px;
$laptop: 1020px;
$desktop: 1340px;

// colors

$cream: #f5f0f0;
$cream-dark: #d2c8c8;
$blue: #4764b0;
$white: #ffffff;

$text-black: #1e1e1e;


$philo: 'Philosopher';
$robot: 'Roboto';
